.footer {
    background-color: $darkColor;
    display: flex;
    gap: 35px;
    padding: 30px 0px;
    align-items: center;
    justify-content: space-around;

    #logoLetter {
        fill: #fff;
    }

    &__listLinks {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;

        &--items {
            & a {
                & figure {
                    width: 25px;
                }
            }
        }
    }

    &__listNav {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        list-style: none;
        gap: 35px;
        justify-items: start;
        justify-content: space-between;
        
        &--item {
            & a {
                text-decoration: none;
                @include textAttribute($font-text, 1.6rem, $gray-color, 300);
            }
        }
    }

    &__copyright {
        @include textAttribute($font-text, 1.4rem, $gray-color, 300);
    }

    .containerDividerButton,
    .containerDividerLink {
        display: grid;
        gap: 30px;
        justify-items: center;
    }

}