* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 4.5rem;
  color: #31314c;
  font-weight: 300;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  color: #a5a4a9;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

button {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 18px 36px;
  color: #fff;
  background: linear-gradient(88deg, rgb(49, 209, 99) 1%, rgb(42, 162, 186) 100%);
}

button:hover {
  filter: opacity(60%);
}

@media (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}
.navbar {
  background-color: #fff;
  font-size: 18px;
  z-index: 150;
  width: 100%;
  padding: 19px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__menu {
  display: none;
}
.navbar__list {
  font-size: 18px;
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
.navbar__list--itemLink {
  text-decoration: none;
  color: #a5a4a9;
  font-size: 1.6rem;
}
.navbar__list--itemLink:hover {
  color: #31314c;
}
.navbar__list--itemLink:hover::before {
  content: "";
  background: linear-gradient(88deg, rgb(49, 209, 99) 1%, rgb(42, 162, 186) 100%);
  position: absolute;
  padding: 3px 30px;
  margin-top: 47px;
  margin-left: -7px;
}
.navbar #closeNav {
  display: none;
}
.navbar #openNav {
  display: none;
}

.header {
  width: 100vw;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(4, 25%);
  background-color: #f9f9f9;
}
.header__pictureContainer {
  top: -177px;
  right: -150px;
  display: grid;
  grid-column: 5/9;
  grid-row: 1/4;
}
.header__pictureContainer--background {
  grid-column: 1/5;
  grid-row: 1/5;
}
.header__pictureContainer--mockups {
  grid-column: 2/4;
  grid-row: 2/5;
}
.header__text {
  grid-column: 1/5;
  grid-row: 2/3;
  display: grid;
  grid-gap: 20px;
  padding-left: 150px;
  text-align: left;
  justify-items: left;
  align-content: space-around;
}

.characteristics {
  width: 90vw;
  padding: 151px 30px;
  text-align: left;
}
.characteristics p, .characteristics__cards--figure {
  margin: 25px 0px;
}
.characteristics__cardsContainer {
  display: flex;
  gap: 50px;
}
.characteristics__cards {
  display: grid;
  justify-items: left;
}

.articles {
  width: 100vw;
  margin-bottom: 151px;
}
.articles__title {
  text-align: left;
  margin-left: 55px;
  margin-bottom: 100px;
}
.articles__Container {
  display: flex;
}
.articles__cards {
  width: 100vw;
  text-align: left;
}
.articles__cards--img {
  padding: 0px 55px;
  width: 100%;
}
.articles__cardsContainer {
  display: grid;
  gap: 15px;
  padding: 0px 55px;
}
.articles__cardsContainer--title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
  color: #31314c;
  font-weight: 300;
  text-decoration: none;
}
.articles__cardsContainer--title:focus {
  color: #33cf7c;
}
.articles__cardsContainer--parraf {
  font-size: 1.4rem;
}
.articles__cardsContainer--creators {
  font-size: 1rem;
  color: #a5a4a9;
  display: block;
}

/*# sourceMappingURL=desktop.css.map */
