* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 4.5rem;
  color: #31314c;
  font-weight: 300;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  color: #a5a4a9;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

button {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 18px 36px;
  color: #fff;
  background: linear-gradient(88deg, rgb(49, 209, 99) 1%, rgb(42, 162, 186) 100%);
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  z-index: 150;
  width: 100%;
  padding: 20px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}
.navbar__background {
  position: fixed;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(49, 49, 76, 0.631372549), rgba(165, 164, 169, 0.2392156863));
  width: 100vw;
  height: 100vh;
  display: none;
}
.navbar__list {
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  z-index: 200;
  top: 10%;
  left: 5%;
  right: 5%;
  list-style: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 90vw;
  height: 40vh;
  justify-content: space-evenly;
}
.navbar__list--itemLink {
  text-decoration: none;
  color: #31314c;
  font-size: 1.6rem;
}
.navbar #closeNav {
  display: none;
}
.navbar #openNav {
  display: inherit;
}
.navbar #backgroundNav {
  display: none;
}
.navbar #nav {
  display: none;
}
.navbar__button {
  display: none;
}

.header {
  background-color: #f9f9f9;
}
.header__pictureContainer {
  height: 100%;
}
.header__pictureContainer--background {
  display: block;
  width: 100vw;
}
.header__pictureContainer--background img {
  width: 100%;
  height: 100%;
}
.header__pictureContainer--mockups {
  position: absolute;
  top: 0;
  width: 100vw;
  right: 0%;
}
.header__pictureContainer--mockups img {
  width: 100%;
  height: 100%;
}
.header__text {
  display: grid;
  grid-gap: 20px;
  margin-top: 24px;
  width: 100vw;
  padding: 20px;
  text-align: center;
  justify-items: center;
  align-content: space-around;
}
.characteristics {
  width: 100vw;
  padding: 151px 30px;
  text-align: center;
}
.characteristics p, .characteristics__cards--figure {
  margin: 25px 0px;
}
.characteristics__cards {
  display: grid;
  justify-items: center;
}

.articles {
  width: 100vw;
  margin-bottom: 151px;
}
.articles__title {
  text-align: center;
}
.articles__cards {
  width: 100vw;
  text-align: left;
}
.articles__cards--img {
  margin: 30px;
}
.articles__cardsContainer {
  display: grid;
  gap: 15px;
  padding: 0px 55px;
}
.articles__cardsContainer--title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8rem;
  color: #31314c;
  font-weight: 300;
  text-decoration: none;
}
.articles__cardsContainer--title:focus {
  color: #33cf7c;
}
.articles__cardsContainer--parraf {
  font-size: 1.4rem;
}
.articles__cardsContainer--creators {
  font-size: 1rem;
  color: #a5a4a9;
  display: block;
}

.footer {
  background-color: #31314c;
  display: grid;
  gap: 35px;
  padding: 30px 0px;
  justify-items: center;
}
.footer #logoLetter {
  fill: #fff;
}
.footer__listLinks {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 58vw;
}
.footer__listLinks--items a figure {
  width: 25px;
}
.footer__listNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  gap: 25px;
}
.footer__listNav--item a {
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  color: #f9f9f9;
  font-weight: 300;
}
.footer__copyright {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.4rem;
  color: #a5a4a9;
  font-weight: 300;
}

/*# sourceMappingURL=mobile.css.map */
