$darkColor: #31314c;
$gray-color: #a5a4a9;
$primary-color: #33cf7c;
$secundary-color: #2dc0ad;
$primary-sure-color: #f9f9f9;
$secundary-sure-color: #fff;
$fontTitle: "Bellefair", serif;
$font-text: "Barlow Condensed", sans-serif;

@mixin textAttribute($text-typo, $text-size, $text-color) {
  font-family: $text-typo;
  font-size: $text-size;
  color: $text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
