$darkColor: #31314c;
$gray-color: #a5a4a9;
$primary-color: #33cf7c;
$secundary-color: #2dc0ad;
$primary-sure-color: #f9f9f9;
$secundary-sure-color: #fff;
$fontTitle: "Bellefair",
serif;
$font-text: "Barlow Condensed",
sans-serif;

@mixin textAttribute($text-typo, $text-size, $text-color, $text-weight) {
  font-family: $text-typo;
  font-size: $text-size;
  color: $text-color;
  font-weight: $text-weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  @include textAttribute($font-text, 4.5rem, $darkColor, 300);
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  @include textAttribute($font-text, 1.6rem, $gray-color, 400);
}