$darkColor: #0b0d17;
$secondaryColor: #d0d6f9;
$sureColor: #fff;
$fontTitle: "Bellefair", serif;
$font-text: "Barlow Condensed", sans-serif;


@mixin textAttribute($text-typo, $text-size, $text-color) {
  font-family: $text-typo;
  font-size: $text-size;
  color: $text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}
